/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    background-color: #fafaf8;
}

/* Logo (img) */
#logo {
    max-width: 100px;
    }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    padding-right: 15px;
    z-index: 100;
    width: 100%;

}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 140%;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: right;
    margin-top: 10px;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #714C42;
}

/* Navbar styles with dropdown menu */
nav {
    position: absolute;
    background-color: #ffffff;
    right: 0;
    padding: 0 1rem;
    box-shadow: 2px 2px 2px #714C42;
    display: none;
    top: 100%;
}

/* Toggle */
#nav-toggle:checked ~ nav{
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    /* Push footer down */
    flex: 1 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}


/* Hero / Heading */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/yarn.webp.webp") no-repeat center center/cover;
    position: relative;
}

.box {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
}

#about {
    text-align: center;
}

/* About section */
#about h2 {
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#about > p {
padding: 10px;
margin: 10px;
}

#about > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 25%;
    max-width: 500px;
    max-height: 500px;
}

/* Button */
.button {
    background-color: #714C42;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    letter-spacing: 2px;
    }
    
    a {
color: white;
    }
    
    a:hover, a:focus, a:active {
        color: #2b1a05;
    }

/* Gallery section */
#gallery-head h2 {
    text-align: center;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#gallery-head p {
    text-align: center;
}

#image img {
    width: 100%;
    line-height: 1em;
    padding: 5px;
}

/* Contact section */
#contact h2 {
    text-align: center;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#contact > p {
    padding: 10px;
    text-align: center;
    }

form {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    }

    input[type=text] {
        width: 60%;
        background-color: #ffffff;
        padding: 14px 20px;
        margin: 8px 0;
        border-radius: 4px;
        cursor: pointer;
    }

    textarea {
        width: 100%
    }

    .submit {
        font-size: 20px;
        background-color: #714C42;
        border: none;
        color: black;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        font-weight: bold;
        border-radius: 15px;
    }

    /* Thank you section */
#thanks h3 {
    text-align: center;
    padding: 20px;
}    

/* Footer */

#socialmedia {
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socialmedia i {
    font-size: 200%;
    padding: 5%;
    color: #714C42;
}

#copyright {
    text-align: center;
    font-size: 10px;
    font-style: oblique;
    color: #714C42;
}

@media screen and (min-width: 576px) {
    #about > img {
        max-width: 300px;
    }
    
    #image {
        column-count: 2;
        column-gap: 0;
    }

}
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 40px;
        margin: 0 1rem;
    }

    #logo > img {
        width: 350px;
    }

       /* Main content */
       main {
        /* Push main content down to accommodate larger header */
        margin-top: 80px;
    }

    #about > img {
        max-width: 450px;
        max-height: 450px;
    }    
    /* Gallery */
    #image {        
        column-count: 3;
    }

    #contact p {
        padding: 15px;
        font-size: 20px;
    }
    

    #socialmedia i {
        font-size: 225%;
    }

} 
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

    #logo > img {
        width: 350px;
    }

    #about {
        margin-left: 100px;
        margin-right: 100px;
    }

    #about > p {
        font-size: 20px;
        }

    #about > img {
        max-width: 500px;
        max-height: 500px;
    }    

    /* Gallery */
    #image {
        column-count: 4;
    }

    #gallery-head p {
        font-size: 20px;
    }

    #contact p {
        padding: 20px;
        font-size: 20px;
    }

    #socialmedia i {
        font-size: 250%;
    }
}
@media screen and (min-width: 1200px) {
    
    #logo > img {
        width: 400px;
    }
    
    /* Gallery */
    #image {
        column-count: 5;
    }

    #about {
        margin-left: 125px;
        margin-right: 125px;
    }

    #about > p {
        font-size: 22px;
        }

        #about > img {
            max-width: 550px;
            max-height: 550px;
        }    

    #contact p {
        padding: 25px;
        font-size: 22px;
    }
    
    .button {
        width: 20%;
        font-size: 22px;
        }

        #socialmedia i {
            font-size: 300%;
        }
}